.parcel-cache
dist
node_modules
*.log
*.pyc
__pycache__/
venv/
migrations
*media

# Python
*.pyo
*.pyd
*.db
*.sqlite3
*.log
*.bak
*.swp
*.swo
.venv/

# Node.js
node_modules/
.parcel-cache/
dist/

# Docker
*.pid
*.sock
*.db

