body {
  background: #e1e7f5; /* Градієнт без повторень */
  background-size: cover; /* Займає весь екран */
  color: #212529; /* Темно-сірий текст */
  font-family: "Arial", sans-serif; /* Зручний шрифт */
  //margin: 40px;
  padding: 0;
  min-height: 100vh; /* Мінімальна висота тіла сторінки — весь екран */
  padding-left: calc(240px + 10rem);
  padding-right: 10rem;
}

a {
  color: inherit; /* наследует цвет текста */
  text-decoration: none; /* убирает подчёркивание */
}
