body {
    background: linear-gradient(180deg, #f2f2f2, #d6d6d6) no-repeat; /* Градієнт без повторень */
    background-size: cover; /* Займає весь екран */
    color: #212529; /* Темно-сірий текст */
    font-family: "Arial", sans-serif; /* Зручний шрифт */
    margin: 0;
    padding: 0;
    min-height: 100vh; /* Мінімальна висота тіла сторінки — весь екран */
  }
  